.container{
  display: flex;
  flex-direction: column;

}

.button{
  width: 100%;

  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.card{
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.form{
  display: flex;
  justify-content: center;
  align-items: center;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.text_center{
  margin-top: auto;
  margin-bottom: auto;
}

mat-card-title{
  text-align: center;
}
.headers-align .mat-expansion-panel-header-title,
.headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}
